.winner-s1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: coral;
  margin: 2rem;
}

.winner-s2 {
  color: rgb(221, 13, 186);
  margin: 2rem;
}

.glow {
  font-size: 30px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  margin: 2rem;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  25% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }

  50% {
    text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px #3b0520, 0 0 40px #ff4da6,
      0 0 50px #3b3337, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }

  75% {
    text-shadow: 0 0 20px rgb(16, 201, 32), 0 0 30px #3b0520, 0 0 40px #ff4da6,
      0 0 50px #3b3337, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
